@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.radio-label {
    font-family: 'Roboto', sans-serif;
    color: var(--mono-gray-4, #505050);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.radio-button {
    border-radius: 14px;
    border: 1px solid var(--mono-gray-2, #E1E1E1);
    background: #FFF;
    width: 28px;
    height: 28px;
}
